
body {
	padding: 40px;
	background:  #f9f9f9;
}

body, p { font-size: 24px; }

#todoItems {
	list-style: none;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding-left: 0;
	margin-top: 0;
	background: #fff; 
}

#todoItems > li {
	padding: 10px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#todoItems > li > #delete {
	float: right;
	font-size: 14px;
	background-color: red;
	border: 0;
	border-radius: 9px;
	color: white;
	padding: 7px;
}


#todoItems li.completed > label{
	text-decoration: line-through;
	font-style: italic;
}

#newTodoItem {
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

#todoItemsContainer {
	width: 800px;
	margin: 0 auto;
}